.container {
  text-align: center;
  max-width: 400px;
  margin-top: 40px;
  margin-left: 380px;
}

form {
  margin-bottom: 15px;
}

img {
  max-height: 180px;
  max-width: 180px;
  padding-bottom: 10px;
}

#loginButton {
  background-color: darkmagenta;
}

.swal-size-sm 
{
   width: 100px !important;
   height: 60px !important;
}
  